.list {
  background-color: white !important;
}

.allCheckBox {
  position: absolute;
  top: 15px;
  left: 20px;
  appearance: none;
  outline: none;
}

.allCheckBox::after {
  box-sizing: border-box;
  text-align: center;
  content: "\21d3";
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 22px;
  cursor: pointer;
}

.allCheckBox:checked::after {
  box-sizing: border-box;
  text-align: center;
  content: "\21d3";
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 22px;
  font-weight: bold;
  padding-top: 3px;
  color: rgba(0, 0, 0, 0.8);
  font-size: 22px;
}
